<ul class="list-group">
    <li class="list-group-item">
        <a href-builder colour='red' ng-click="openAlertWindow('red', $event)">Red</a>
    </li>
    <li class="list-group-item">
        <a href-builder colour='blue' ng-click="openAlertWindow('blue', $event)">Blue</a>
    </li>
    <li class="list-group-item">
        <a href-builder colour='yellow' ng-click="openAlertWindow('yellow', $event)">Yellow</a>
    </li>
    <li class="list-group-item">
        <a href-builder colour='orange' ng-click="openAlertWindow('orange', $event)">Orange</a>
    </li>
    <li class="list-group-item">
        <a href-builder colour='silver' ng-click="openAlertWindow('silver', $event)">Silver</a>
    </li>
</ul>